@model osnet.Models.Projeto

@{
    ViewData["Title"] = "Delete";
}

<h2>Exclusão</h2>

<h3>Tem certeza que deseja excluir este projeto?</h3>
<div>
    <h4>Projeto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dataInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dataInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dataTermino)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dataTermino)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dataCadastro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dataCadastro)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Excluir" class="btn btn-default" /> |
        <a asp-action="index">Listagem</a>
    </form>
</div>
