@model IEnumerable<osnet.Models.Projeto>

@{
    ViewData["Title"] = "Index";
}


<section class="content-header">
     <h1> Projetos <small>Listagem</small></h1>
     
    <ol class="breadcrumb">
    <li><a asp-action="index"><i class="fa fa-dashboard"></i> Projetos</a></li>
    <li class="active">Listagem</li>
    </ol>
</section>

<section class="content">
<div class="row">
<div class="col-lg-12 col-xs-12 col-md-12 col-sm-12">

<div class="box box-primary">
    
<a asp-action="create" title="Cadastrar novo serviço"><i class="fa fa-plus"></i> Cadastrar novo projeto</a>
    
<div class="body">

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataTermino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataCadastro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataTermino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataCadastro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id"><i class="fa fa-pencil-square-o"></i></a> |
                <a asp-action="Details" asp-route-id="@item.id"><i class="fa fa-navicon"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.id"><i class="fa fa-fw fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</section>
</div>
</div>
</div>