@model osnet.Models.OrdemServico

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Ordem de serviço - @Html.DisplayNameFor(model => model.id) </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.resumo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.resumo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.justificativa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.justificativa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.resolucao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.resolucao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cliente.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tipoOrdemServico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipoOrdemServico.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.servico)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.servico.nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.status.nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Alterar</a> |
    <a asp-action="Index">Listagem</a>
</div>
